*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',  monospace;
}
body {
    position: relative;
}
header {
    text-align: center;
    background-color: #fff0f0;
    padding: 2%;
    color: rgb(119, 112, 112);
}
main {
    height: 100vh;
    background-color: #ffb0b0;
    color: rgb(119, 112, 112);
}
main .button-modal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .button-modal .modal-button-item {
    margin: 3% 1%;
    background-color: #fff0f0;
    padding: 15px;
    border-radius: 5px;
}
.modal-button-item p{
    cursor: pointer;
    color: rgb(119, 112, 112);
}
/* .info-modal {position: relative; } */
.info-modal .modal-item {
    max-width: 600px;
    background-color: #fff0f0;
    padding: 2%;
    border-radius: 5px;
    position: relative;
    margin: auto;
    z-index: 99;
    display: none;
    box-shadow: 5px 3px 4px 2px #b15555;
    opacity: 0;
    animation: opacityBlock 2s ease-in-out;
}
.backgraund-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 90;
    top:0;
    background-color:rgba(136, 136, 136, 0.541);
    display: none;
}
.info-modal .modal-item p {
    padding: 2%;
}
.close-modal {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: rgb(218, 218, 218);
    top: 8px;
    right: 8px;
}
.close-modal span {
    /* vertical-align: middle; */
    cursor: pointer;
}
.backgraund-modal.active{display: block; }
.modal-item.active {
    display: block;  
    opacity: 1;
}
@keyframes opacityBlock {
    0% {
        opacity: 0;
        width: 0%;
    }
    50% {
        opacity: 0.7;
        width: 50%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}
@keyframes opacityNone {
    0% {
        opacity: 1;
        width: 100%;
    }
    50% {
        opacity: 0.7;
        width: 50%;
    }
    100% {
        opacity: 0;
        width: 0%;
    }
}